body {
  background-color: black;
}

.form-input {
  max-width: 300px;
  width: 100%;
}

#gif-div img {
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

@media (max-width: 767px) {
  .form-input {
    max-width: 100%;
  }
}
